Source: emacs-pills
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), yasnippet, emacs-goodies-el
Standards-Version: 3.9.4
Homepage: https://bitbucket.org/arco_group/emacs-pills

Package: emacs-pills
Architecture: all
Depends: ${misc:Depends}, yasnippet, emacs-goodies-el, auto-complete-el
Breaks: arco-devel (<< 0.20120213)
Replaces: arco-emacs, arco-devel (<< 0.20120213)
Suggests: libnotify-bin
Description: Modular emacs configuration
 emacs configuration files and utilities for everybody. It is a
 colection of configuration files ready to use and that may be used
 togheter without issues.

Package: emacs-pills-python
Architecture: all
Depends: ${misc:Depends}, emacs-pills, pylint, pep8, pyflakes, python
Replaces: arco-emacs-python
Description: Python emacs support
 emacs configuration files and utilities for Python programmers. It is
 a colection of configuration files ready to use and that may be used
 togheter without issues.
